<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/app_style.css"/>
<script src="/angular.js"></script>
<script src="/rltm.js"></script>
<script src="/angular-chat.js"></script>
<script>
'use strict';
// Return a Silly Name
function sillyname() {
var cname="user";
var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

'use strict';

// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// Chat App Module
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
var basicChat = angular.module( 'BasicChat', ['chat'] );

angular.module('chat').constant( 'config', {
    rltm: {
        service: 'pubnub', 
        config: {
            publishKey: 'pub-c-5475ebed-0639-445d-ba5f-bda28479a63d',
            subscribeKey: 'sub-c-72b6e126-ce26-11e7-8f18-c64264e19a04'
        }
    }
});

// or use socket.io
// make sure to run socket.io-server from rltm.js
// angular.module('chat').constant( 'config', {
//     rltm: {
//         service: 'socketio', 
//         config: {
//             endpoint: 'http://localhost:9000'
//         }
//     }
// });


// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// Chat App Controller
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
basicChat.controller( 'BasicController', ['$scope', 'Messages', function($scope, Messages) {

    // Sent Indicator
    $scope.status = "";

    // Keep an Array of Messages
    $scope.messages = [];

    $scope.me = {name: sillyname()};

    // Set User Data
    Messages.user($scope.me);

    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Get Received Messages and Add it to Messages Array.
    // This will automatically update the view.
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    var chatmessages = document.querySelector(".chat-messages");

    Messages.receive(function(msg) {
        
        $scope.messages.push(msg);
    
        setTimeout(function() {
            chatmessages.scrollTop = chatmessages.scrollHeight;
        }, 10);

    });

    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Send Messages
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    $scope.send = function() {

        Messages.send({data: $scope.textbox});
        
        $scope.status = "sending";
        $scope.textbox = "";

        setTimeout(function() { 
            $scope.status = "" 
        }, 1200 );

    };

} ] );
</script>    
</head>
<body>
<div id="userw371">
</div>
<script>
function setCookie(cname,cvalue,exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000*365));
    var expires = "expires=" + d.toGMTString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
function myFunction() {
var user, text;
user = document.getElementById("numb").value;
setCookie("user", user, 3);
location.replace("http://rjh.fun/chat.html");
}
function checkCookie() {
var user=getCookie("user");
if(user != ""){
document.getElementById("userw371").innerHTML = '<div ng-app="BasicChat"><div class="chat-container" ng-controller="BasicController"><div class="chat-messages"><div ng-repeat="message in messages"><div class="sent-message" ng-class="{me: message.user.name == me.name}"><span class="username">{{ message.user.name }}:</span>{{ message.data }}</div><div class="clear"></div></div></div><form ng-submit="send()" class="chat-input"><input type="text" ng-model="textbox" autofocus><input type="submit" class="send-icon" value=" "><input type="submit" value=" " class="sent-indicator {{ status }}"></form></div></div>';
}else{
document.getElementById("userw371").innerHTML = 'Username<input id="numb" style="border: 1px solid;"><button type="button" onclick="myFunction()">Submit</button>';
}
}
checkCookie();
</script>
</body>
</html>
